/* Style the html */
html {
    border-radius: 5px;
    background-color: blanchedalmond;
    padding: 20px;
}
/* Style the heading */
h1{
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    color: seagreen;
}
/* styling the input area from here to all the way till password input */
input[type=text],textarea {
    width: 100%;
    padding: 5px;
    border: 3px solid #acacac;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
}


input[type=date], textarea{
    width: 100%;
    padding: 5px;
    border: 3px solid #acacac;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;

}

input[type=email], textarea{
    width: 100%;
    padding: 5px;
    border: 3px solid #acacac;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;

}
input[type=password], textarea{
    width: 100%;
    padding: 5px;
    border: 3px solid #acacac;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;

}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

input[type=submit] {
    background-color: seagreen;
    color: white;
    padding: 12px 20px;
    border-radius: 100px;
    cursor: pointer;
}

/* Media Queries  */

@media screen and (min-width: 480px){
    .taking, h1, input[type=submit], input[type=text], textarea {
        width: 100%;
        margin-top: 0;

    }
}

@media screen and (min-width: 780px){
    input[type=submit]{
        width:30%;
        padding: 15px 15px 15px 15px;
    
    }


}